*{
    margin: 0;
    padding: 0;
}

html body{
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: black;
}

h1{
    font-size: 100px;
    color: grey;
}

#gandu{
    width: 100px;
    height: 100px;
    background-color: goldenrod;
}

button{
    width: 100px;
    height: 50px;
    border-radius: 20px;
    background-color: red;
}

